{% load staticfiles %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta charset="UTF-8" />
    <title>
        {% block title %}{% endblock %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <script src="{% static "js/jquery.min.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/jajxtools.js" %}"></script>
    {% block extra_head %}
    {% endblock %}{#每个页面的自己js,css等#}
</head>
<body>
<div class="mymain">
    <div class="mymenu">{#所以页面同一个导航栏#}
        <ul class="mynav">
            <li><a id="l1" href="{% url "home" %}">首页</a></li>
            <li><a id="l2" href="{% url "order" %}">订票</a></li>
            <li><a id="l3" href="{% url "about" %}">关于</a></li>
        </ul>
        <div class="userstatus">
            {% if user and user.is_authenticated %}
                <label>你好,</label>
                <a href="/user/center/">{{ user.nickName }}</a>
                <a style="color: black" href="{% url "loginout" %}">退出</a>
            {% else %}
                <label>你好,请</label>
                <a href="{% url "loginin" %}">登录 | </a>
                <a href="{% url "register" %}">注册</a>
            {% endif %}
        </div>
    </div>
    <div class="mycontent">{#每个页面具体的内容#}
    {% block content %}
    {% endblock content %}
    </div>
    <div class="myfooter">{#每个页面具体的结尾#}
        <p>欢迎,欢迎，欢迎</p>
        <p>版权所有©G409 计算研究院</p>
        <p>京ICP备1111111111号</p>
    </div>
</div>
</body>
</html>