{% extends "base.html" %}
{% block title %}
    登录
{% endblock %}
{% block extra_head %}
    <script type="text/javascript">
    $(function () {
        $("[data-toggle='popover']").popover();
    });
    </script>
    <style>
    .logindiv{
        width: 400px;
        height: 300px;
        border-radius: 10px;
        background-color:#5bc0de;
        opacity: 50;
        margin: auto;
        text-align: center;
        vertical-align: middle;
    }
    </style>
{% endblock %}

{% block content%}
    <form action="" method="post" class="form-inline">{% csrf_token %}
    <div style="width: 100%;background-color: white;height: 400px;margin-top: 100px">
        {% if err %}
        <p style="color: red;text-align: center;width: 100%;display: block">{{ err }}</p>
        {% endif %}
        <table class="logindiv">
            <tr>
                <td>
                    <label>用户名:</label> <input name="uname" class="form-control" type="text">
                </td>
            </tr>
            <tr>
                <td>
                    <label>密码:</label> <input name="pwd" class="form-control" type="password">
                </td>
            </tr>
            <tr>
                <td>
                    <input class="btn btn-default" type="button" onclick="location='{% url "register" %}'" value="注册">
                    <input class="btn btn-primary" type="submit" value="登录">
                </td>
            </tr>
        </table>
    </div>
    </form>
{% endblock %}