{% extends "base.html" %}
{% block title %}
    注册
{% endblock %}
{% block extra_head %}
    <script type="text/javascript">
    </script>
    <style>
    .regdiv{
        width: 400px;
        height: 300px;
        border-radius: 10px;
        background-color:#9d9d9d;
        opacity: 50;
        margin: auto;
        text-align: center;
        vertical-align: middle;
    }
    </style>
{% endblock %}

{% block content%}
    <form action="" method="post" class="form-inline" role="form">{% csrf_token %}
        <div style="width: 100%;background-color: white; height: 400px; margin-top: 100px">
            {% if form.error %}
                <p style="color: red;text-align: center;width: 100%;display: block">{{ form.errors }}</p>
            {% endif %}

            <table class="regdiv">
            <tr>
                <td>
                    <label>用户名:</label>
                </td>
                <td>
                    <input name="nickName" class="form-control" type="text">
                </td>
            </tr>
             <tr>
                <td>
                    <label>邮箱:</label>
                </td>
                 <td>
                     <input name="userEmail" class="form-control" type="text">
                 </td>
            </tr>
            <tr>
                <td>
                    <label>密码:</label>
                </td>
                <td>
                    <input name="passPwd" class="form-control" type="password">
                </td>
            </tr>
            <tr>
                <td>
                    <label>确认密码:</label>
                </td>
                <td><input name="passPwd2" class="form-control" type="password"></td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" class="btn bnt-sm" value="注册">
                </td>
            </tr>
            </table>
        </div>
    </form>
{% endblock %}