{% extends "base.html" %}
{% block title %}
    余票
{% endblock %}
{% block extra_head %}
    <script type="text/javascript">
    $(function(){
        $("#15").css("background-color","#ffffff");
    });

    function searchyp(btn){
       var startstation = $("input[name='startstation']");
        var endstation = $("input[name='endstation']");
        var date = $("input[name='date']");
          if (startstation.val()==''||endstation.val()==''||date.val()=='') {
            myalert("查询信息不足！");
            return false;}
        $.ajax({
         type :"POST",
          data: {'startstation':startstation.val(),'endstation':endstation.val(),'date':date.val()},
            url:"{% url "searchyp" %}",
            dataType:"json",
            success: function(data1){
                var body = ""
                for (var i=0;i<data1.numoftrain;i++){
                    var price = data1.endprice[i]-data1.startprice[i]
                    body = "<tr>" +
                            " <td>"+data1.trainlist[i]+"</td>" +
                            "<td>"+startstation.val()+"</td>" +
                            "<td>"+endstation.val()+"</td>" +
                            "<td>"+data1.starttime[i]+"</td>" +
                            "<td>"+data1.endtime[i]+"</td>" +
                            " <td>"+price+"</td>" +
                            "  <td>"+data1.ticketlist[i]+"</td>" +
                            "</tr>"
                    $("#ypcx").append(body);
                }
            },
            fail: function(){
                alert("system error");
            }
        });
    }
    </script>
    <style>
    .leftnav{
        display: inline-block;
        width: 200px;
        height: 320px;
        border: 2px solid #1E81C4;
        border-radius: 3px;
        margin: 5px;
        overflow: hidden;
        vertical-align: top;
    }
    .leftnav dl{
        display:block;
        width: 200px;
        text-align: center;
    }
    .leftnav dl dt{
        display: block;
        width:100%;
        height: 40px;
        line-height: 40px;
        text-align: left;
        background-color:#5bc0de;
    }
    .leftnav dl dd{
        height: 30px;
        margin-left: 10px;
        margin-top: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
        line-height: 30px;
    }
    .leftnav dl dd:hover{
         background-color: #a6e1ec;
    }
    .rightcent{
        width: 800px;
        min-height:600px;
        display: inline-block;
        border: 2px solid #1E81C4;
        border-radius: 3px;
        margin: 5px;
        overflow: hidden;
    }
    </style>
{% endblock %}

{% block content%}
{% load staticfiles %}
    <div  style="margin:auto; padding: 0px;width: 100%;text-align: center">
       <div class="leftnav">
            <form id="searchinfo" >
        <dl>
            <dt>出发站</dt>
            <dd style="background-color: #a6e1ec"><input type="text" class="form-control" name = "startstation"></dd>
            <dt>目的站</dt>
            <dd style="background-color: #a6e1ec"><input type="text" class="form-control" name = "endstation"></dd>
            <dt>出发日</dt>
             <dd style="background-color: #a6e1ec"><input type="date" class="form-control" name = "date"></dd>
        </dl>
           <td><input type="button"   onclick="searchyp(this)" class="btn btn-warning btn-sm" value="查询余票"></td>
     </form>
    </div>


    <div class="rightcent">
       <table id="inreal" class="table table-striped table-bordered table-hover table-condensed">
    <thead>
    <tr>
        <th style="text-align: center">车次</th>
        <th style="text-align: center">出发站</th>
        <th style="text-align: center">到达站</th>
        <th style="text-align: center">出发时间</th>
        <th style="text-align: center">到达时间</th>
        <th style="text-align: center"> 票价 </th>
        <th style="text-align: center">   余票   </th>
    </tr>
    </thead>
    <tbody id="ypcx">


    </tbody>
    </table>
    </div>
 </div>

{% endblock %}